input {
  generator {
   threads => "${THREADS}"
   message => "test"
   count => "${DOCS_PER_THREAD}"
  }
}
filter {
    sleep {
      time => "5"
      every => 1000
    }
  }
output {
  elasticsearch {
     hosts => ['elasticsearch-hot:9200']
     ilm_enabled => "false"
     index => 'test'
     action => create
  }
  elasticsearch {
    ilm_rollover_alias => "telemetry-unassigned"
    ilm_pattern => "000001"
    ilm_enabled => true
    ilm_policy => "hot-delete"
    hosts => ['elasticsearch-hot:9200']
    action => create
  }
  elasticsearch {
    ilm_rollover_alias => "telemetry-create-no"
    ilm_pattern => "000001"
    ilm_enabled => true
    ilm_policy => "hot-delete"
    hosts => ['elasticsearch-hot:9200']
  }
  stdout { codec => dots }
}
